<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <% if(!user){ %>
      <%- include('../views/partials/header.ejs') %>
    <% } %>
    <% if(user){ %>
      <%- include('../views/partials/user_panel.ejs') %>
      <%- include('../views/partials/messages.ejs') %>
    <% } %>
    <% if(errors.length > 0) { %>
      <ul class="errors-container">
          <% errors.forEach(error => { %> 
              <li class="error-message"><%= error.msg%></li>
          <% }) %>
      </ul>
  <% } %>
  </body>
</html>
